.ui.container.grid.stackable {
    min-height: 100vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
}
.bordr{
    border: 1px solid black;
}
#top {
    height: 100px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content {
    padding: 10px;
}

.meme-author {
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
}

.meme-img img {
    width: 20rem;
    height: 20rem;
    border: 1px solid lightgrey;
}


.meme-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
    padding: 10px;
}

.meme-details .meme-title {
   color: #ffe344;
}

.button.meme-yellow {
    background: #ffe344;
    color: #fff;
    margin-top: 5px;
}

.button.meme-yellow:hover {
    background: #e4cb3c;
    color: #fff;
}

.memes-count-container .item {
    align-items: center;
}

.item {
    margin-right: 10px;
}

.memes-count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memes-count {
    font-weight: bold;
    font-size: 20px;
    margin:0;
}

.caret.up-caret {
    background: transparent;
    border-top: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #ffe344;  
}

.caret.down-caret {
    background: transparent;
    border-bottom: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #ffe344;  
}

.caret.caret.up-caret:hover,
.caret.caret.down-caret:hover {
    cursor: pointer;
}

.caret.caret.up-caret:hover {
    border-bottom: 40px solid #e4cb3c; 
} 

.caret.down-caret:hover {
    border-top: 40px solid #e4cb3c; 
}

.flex-row {
    display: flex;
    flex-direction: row wrap;
    padding: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#upload-btn-row {
    display: flex;
    flex-direction: row-reverse;
}

.circle {
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    background-size: cover;
}

.circle.image {
    border: 0;
    padding: 0;
    width: 60px;
}

#logo {
    background: #ffe344;
    border: 0;
    color: #fff;
}